@(form: Form[Competences.AddCompetence])

<html>
    <head>
        <title>Sign in</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/Bootstrap/css/bootstrap-theme.css")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
        
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")" >
  
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    </head>
    
    <header>
        <div class="nav">
            <div class="container">
                <ul class="pull-right">
        	        <li>12/04/2016</li>
          	        <li>11:33</li>
                </ul>
            </div>
        </div><br>

        <div class="jumbotron">
	
            <div class="container">
    	        <h1>GAPP-ISEP</h1>
                <p>L'outil idéal pour les APPs :)</p>
            </div>
        </div>
    </header>

    <body>

    @helper.form(routes.Competences.create) {
	<h1>Ajouter une compétence</h1>
	
	    <p>
	        <label>Id : </label><input type="number" min="1" max="1000" name="id" value=@form("id").value>
	    </p>
	    <p>
		    <label>Nom : </label><input type="text" name="name">
	    </p>
	    <p>
		    <!--<select name="parentId">
			    <option>Famille de compétences 1</option> 
			    <option selected>Famille de compétences 2</option>
			    <option>Famille de compétences 3</option>
		    </select-->
		    <label>ParentId : </label><input type="number" min="1" max="1000" name="parentId"/>
		</p>
		<p>
		    <textarea rows="4" cols="50" name="description">Description</textarea>
		</p>
		<p>
		    <label>Coefficient : </label><input type="number" min="1" max="25" name="coeff"/>
		</p>
		
		<input type="submit" value="Sauvegarder">

    }
    
    @if(form.hasGlobalErrors) {
            <p class="error">
                @form.globalError.message
            </p>
    }
        
    @if(flash.contains("success")) {  // HERE
        <p class="success">
            @flash.get("success")
        </p>
    }
    </body>
</html>

