@main(title = "Ajout Compétences") {
	<h1>Ajouter une compétence</h1>
		<form action="@routes.Deadline.deadline()">
		  <input type="text" name="name" value="nom"><br>
		  <select name="select">
			  <option value="value1">Famille de compétences 1</option> 
			  <option value="value2" selected>Famille de compétences 2</option>
			  <option value="value3">Famille de compétences 3</option>
		  </select>
		  <textarea rows="4" cols="50">Description</textarea>
		<input type="submit" value="Sauvegarder">
		</form>
		
}