<!DOCTYPE html>
<html>
	<head>
 		<title>GAPP</title>
 		<meta charset="UTF-8">
 		<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
		<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
 		<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
 		<script src="attribution_des_groupes.js"></script>
	</head>

	<body>
		<header>
		
		</header>
		<div>
			<h3>Attribution des groupes</h3>
			
			<input type="button" onclick="location.href='attribution_des_groupes_eleves.html';" value="Elèves"/>
			<input type="button" onclick="location.href='attribution_des_groupes_tuteurs.html';" value="Tuteurs"/>
			<form>
				<p><label>Ajouter : </label><input type="text" name="student" id="student"/></p>
				<p><label>Au groupe : </label><input type="text" name="group" id="group"/></p>
				<p><input type="submit" value="Soumettre"/></p>
			</form>
		</div>
		<div>
			<table>
				<tr>
    				<td>G1A</td>
    				<td>G1B</td> 
    				<td>G1C</td>
    				<td>G1D</td>
  				</tr>
  				<tr>
    				<td></td>
    				<td></td> 
    				<td></td>
    				<td></td>
  				</tr>
			</table>
		</div>
 	</body>
</html>