@main(title = "Attribuer rôle") {
	<h1>Attribution des rôles</h1>
	<form>
	<table>
	   <tr>
	       <th>Nom Prénom</th>
	       <th>élève</th>
	       <th>tuteur</th>
	       <th>responsable parcours</th>
	   </tr>
	   <tr>
	       <td>Guicomo Guilizzoni</td>
	       <td><INPUT type="checkbox" name="choix1" value=""></td>
	       <td><INPUT type="checkbox" name="choix2" value=""></td>
	       <td><INPUT type="checkbox" name="choix3" value=""></td>
	   </tr>
	   <tr>
	       <td>Marco Botton</td>
	       <td><INPUT type="checkbox" name="choix1" value=""></td>
	       <td><INPUT type="checkbox" name="choix2" value=""></td>
	       <td><INPUT type="checkbox" name="choix3" value=""></td>
	   </tr>
	   <tr>
	       <td>Mariah Maclachan</td>
	       <td><INPUT type="checkbox" name="choix1" value=""></td>
	       <td><INPUT type="checkbox" name="choix2" value=""></td>
	       <td><INPUT type="checkbox" name="choix3" value=""></td>
	   </tr>
	   <tr>
	       <td>Valerie Liberty</td>
	       <td><INPUT type="checkbox" name="choix1" value=""></td>
	       <td><INPUT type="checkbox" name="choix2" value=""></td>
	       <td><INPUT type="checkbox" name="choix3" value=""></td>
	   </tr>
	    <tr>
	       <td>Guido jack Guilizzoni</td>
	       <td><INPUT type="checkbox" name="choix1" value=""></td>
	       <td><INPUT type="checkbox" name="choix2" value=""></td>
	       <td><INPUT type="checkbox" name="choix3" value=""></td>
	   </tr>
	</table>
	</form>
}