@(title: String, status: Integer, name: String, form: Form[SkillsMatrixController.AddSkills], t_competence_t: T_competence_t)

@main(title, status, name) {


    @helper.form(routes.SkillsMatrixController.createSkill(t_competence_t.CT_id)) {
	    <p>
		    <label>Nom : </label><input type="text" name="name">
	    </p>
		<p>
		    <textarea rows="4" cols="50" name="description">Description</textarea>
		</p>
		<input type="hidden" name="type" value="@t_competence_t.CT_id">
		
		<input type="submit" value="Sauvegarder">


    }
    
    @if(form.hasGlobalErrors) {
            <p class="error">
                @form.globalError.message
            </p>
    }
        
    @if(flash.contains("success")) {  // HERE
        <p class="success">
            @flash.get("success")
        </p>
    }
    
}


