<!DOCTYPE html>
<html>
	<head>
 		<title>GAPP</title>
	</head>
	<body>
		<header>
		
		</header>
		<div>
			<h3>Ajouter une famille de compétences</h3>
			<form>
				<p><label>Nom : </label><input type="text" id="familyName"/></p>
				<p><label>Coeff : </label><input type="text" id="familyCoeff"/></p>
				<p><label>Description : </label><textarea></textarea></p>
				<p><a href="#">+ ajouter une compétence dans cette famille</a></p>
				<p><input type="submit" value="Sauvegarder"/></p>
			</form>
		</div>


 	</body>
</html>