<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
 		<title>GAPP</title>
	</head>

	<body>
		<header>
		
		</header>
		<div>
			<h3>Ajouter une deadline</h3>
			<form>
				<p><label>Nom : </label><input type="text" id="deliverableName"/></p>
				<p><label>Deadline : </label><input type="date" id="deadlineDate"/></p>
				<p><label>Concerne les groupes : </label><br>
					<input type="checkbox" id="checkbox1"/><label>G1</label>
					<input type="checkbox" id="checkbox2"/><label>G2</label>
					<input type="checkbox" id="checkbox3"/><label>G3</label>
				</p>
				<p><label>Description : </label><textarea></textarea></p>
				<p><input type="submit" value="Sauvegarder"/></p>
			</form>
		</div>

 	</body>
</html>